

@model IEnumerable<Lab04.Models.laptop>
@{
    ViewBag.Title = "Index";
}

<h2>Search</h2>
<br />
@{Html.RenderAction("GetSearchFilter", "Laptop"); }
<br />
<input type="button" name="name" onclick="find();" value="Assign" />
<ul id="laptop"></ul>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>


    var uri = "../../api/LaptopAPI"
    $(document).ready(function () {
        $.getJSON(uri).done(function (data) {
            $.each(data, function (key, item) {
                $('<li>', { text: formatItem(item) }).appendTo($('#laptop'));
            });
        });

    });
    function formatItem(item) {
        return item.Product + ':' + item.ScreenResolution;
    }
    function find() {
        $('#laptop').text('');
        var model = {};
        //Company
        model.Company = [];
        $("input[name = 'Company[]']:checked").each(function () {
            model.Company.push($(this).val());
        });
        //CPU
        model.CPU = [];
        $("input[name = 'CPU[]']:checked").each(function () {
            model.CPU.push($(this).val());
        });
        //type name
        model.TypeName = [];
        $("input[name = 'TypeName[]']:checked").each(function () {
            model.TypeName.push($(this).val());
        });
        //Memory
        model.Memory = [];
        $("input[name = 'Memory[]']:checked").each(function () {
            model.Memory.push($(this).val());
        });
        //OS
        model.OS = [];
        $("input[name = 'OS[]']:checked").each(function () {
            model.OS.push($(this).val());
        });
        //ScreenResolution
        model.ScreenResolution = [];
        $("input[name = 'ScreenResolution[]']:checked").each(function () {
            model.ScreenResolution.push($(this).val());
        });



        $.ajax({
            type: "POST",
            data: JSON.stringify(model),
            url: "../../api/LaptopAPI/Search",
            contentType: "application/json"
        }).done(function (data) {
            $.each(data, function (key, item) {
                $('<li>', { text: formatItem(item) }).appendTo($('#laptop'));
            });
        }).fail(function (jqXHR,textStatus,err) {
                $('#laptop').text('Error:' + err);
        });

//        var idString = "";
////Company
//        var idCompany = $('#2').find('input[type=checkbox]');
//        for (var i = 0; i < idCompany.length; i++) {
//            if (idCompany[i].checked) {
//                if (idString == "") {
//                    idString = "2-" + idCompany[i].name;
//                }
//                else {
//                    idString = idString + "_2-" + idCompany[i].name;
//                }
//            }
//        }
////CPU
//        var idCPU = $('#6').find('input[type=checkbox]');
//        for (var i = 0; i < idCPU.length; i++) {
//            if (idCPU[i].checked) {
//                if (idString == "") {
//                    idString = "6-" + idCPU[i].name;
//                }
//                else {
//                    idString = idString + "_6-" + idCPU[i].name;
//                }
//            }
//        }
////Ram
//        var idRam = $('#9').find('input[type=checkbox]');
//        for (var i = 0; i < idRam.length; i++) {
//            if (idRam[i].checked) {
//                if (idString == "") {
//                    idString = "9-" + idRam[i].name;
//                }
//                else {
//                    idString = idString + "_9-" + idRam[i].name;
//                }
//            }
//        }
////Inches
//        var idInches = $('#5').find('input[type=checkbox]');
//        for (var i = 0; i < idInches.length; i++) {
//            if (idInches[i].checked) {
//                if (idString == "") {
//                    idString = "5-" + idInches[i].name;
//                }
//                else {
//                    idString = idString + "_5-" + idInches[i].name;
//                }
//            }
//        }
        //$.getJSON(uri + "/" + idString).done(function (data) {
        //    $.each(data, function (key, item) {
        //        $('<li>', { text: formatItem(item) }).appendTo($('#laptop'));
        //    });
        //}).fail(function (jqXHR,textStatus,err) {
        //    $('#laptop').text('Error:' + err);
        //});

    }

</script> 

